body {
    background: #1A237E;
    color: #FAFAFA;
}
/* navbar */
.navbar-default {
    background-color: #1A237E;
    border-color: #E7E7E7;
    box-shadow: 1px 1px #E7E7E7;
}
nav {
    font-size: 1.2rem;
}
nav a {
    color: #FAFAFA;
}
nav a:hover {
    color: #5C6BC0;
}
.card  {
    background: #5C6BC0;
    height: 70vh;
    margin: 10vh auto;

}
h1 {
    padding-top: 2rem;
}
.temp {
    font-size: 3rem;
}
.weather-type {
    font-size: 1.2rem;
}